/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

 @font-face {
  font-family: fontCirStdMedium;
  src: url(./app/assets/fonts/CircularStd-Medium.woff);
}
@font-face {
  font-family: fontCirXxttReg;
  src: url(./app/assets/fonts/CircularXXTT-Regular.woff);
}
@font-face {
  font-family: fontCirXxttLight;
  src: url(./app/assets/fonts/CircularXX-Light.woff);
}
@font-face {
  font-family: fontCirStdBook;
  src: url(./app/assets/fonts/Circular\ Std\ Book.ttf);
}

body {
  font-family: fontCirXxttReg;
  font-size: 1rem;
  line-height: 1.6;
  background-color:#f8f8fb !important ;
  color: #333;
  padding: 0px !important;
  margin: 0px !important;
  height: 100%;
  overflow: auto !important;
}

.makeStyles-appBar-2 {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.small {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.select-width {
  width: 100%;
  padding: 1rem 1rem;
  margin: auto;
}

.handCursor {
  cursor: pointer;
}

.hr-width {
  width: 150%;
}

.my_custom_row {
  background: rgb(80, 235, 255);
}

.titleText {
  font-size: 2rem;
  /* line-height: 1.2;
  margin-bottom: 1rem; */
  text-align: right;
  width: 100%;
}

.tableMargin {
  margin-left: 5.5%;
}